body{
    background-color: #212121;
}

table,th,td {
  border: 1px solid #e7e7e7;
  font-size: 25px;
}

.project {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  font-size: 25px;
}

.color {
  color: aliceblue;
  display: flex;
  flex-direction: row;
}
