body{
    background-color: #212121;
    height: 90vh;
    color: #fff;
}

.main{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button{
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}